<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Update logIn Info</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><span>Update Log In</span></li>
      </ul>
    </div>
  </div>
</section>
<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
 -->
<!--  -->

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <form role="form">
      <fieldset>
       <!--  <h2>Please Sign Up</h2> -->
        <hr class="colorgraph">
        <div class="form-group">
              <%= f.email_field :email, autofocus: true, class:"form-control input-lg", placeholder:"Email Address", tabindex:"1"  %>
        </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>




        <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class:"form-control input-lg", placeholder:"Password", tabindex:"2" %>
            <% if @minimum_password_length %>
              <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
        </div>


              
        <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control input-lg", placeholder:"Password Confirmation", tabindex:"2" %>
         </div>

          <div class="form-group">
          <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class:"form-control input-lg", placeholder:"Current Password", tabindex:"2" %>
         </div>




        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6 col-sm-6 col-md-6">
           <%= f.submit "Update", tabindex:"5", class:"btn btn-lg btn-success btn-block" %>     
         </div>
          <div class="col-xs-offset-3 col-xs-6 col-sm-6 col-md-6">
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class:"form-control btn-default btn-xs", data: { confirm: "Are you sure?" }, method: :delete %></p>
          <%= link_to "Back", :back %>
          </div>
        </div>
      </fieldset>
    </form>
    <% end %>
  </div>
</div>

</div>
<br>

