<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Please Sign Up</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><span>Sign Up</span></li>
      </ul>
    </div>
  </div>
</section>

<div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <form role="form">
      <fieldset>
       <!--  <h2>Please Sign Up</h2> -->
        <hr class="colorgraph">
        <div class="form-group">
              <%= f.email_field :email, autofocus: true, class:"form-control input-lg", placeholder:"Email Address", tabindex:"1"  %>
        </div>
        <div class="form-group">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control input-lg", placeholder:"Password", tabindex:"2" %>
        </div>
        <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control input-lg", placeholder:"Password Confirmation", tabindex:"2" %>
         </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
           <%= f.submit "Sign up", tabindex:"5", class:"btn btn-lg btn-success btn-block" %>     
         </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <%- if controller_name != 'sessions' %>
            <%= link_to "Log in", new_session_path(resource_name), tabindex:"5", class:"btn btn-lg btn-primary btn-block" %>
          <% end -%>
          </div>
        </div>
      </fieldset>
    </form>
    <% end %>
  </div>
</div>

</div>
<br>
      