
<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Timing</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Timing</span></li>
      </ul>
    </div>
  </div>
</section>


<section class="get-a-qoute sec-padding">
  <div class="auto-container">
  <div class="row">
    <%= form_for(@shoptiming) do |f| %>
      <% if @shoptiming.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shoptiming.errors.count, "error") %> prohibited this shoptiming from being saved:</h2>

          <ul>
          <% @shoptiming.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-offset-1 col-md-5">
        <div class="form-group">
            <%= f.label :sunday_रविवार  %>:
            <%= f.text_field :sunday, placeholder:"9am To 9pm, Close , Half Day", tabindex:"1" %>
        </div>
        <div class="form-group">
            <%= f.label :monday_सोमवार %>:   
             <%= f.text_field :monday, placeholder:" 9am To 9pm, Close , Half Day", tabindex:"2" %>
        </div>
        <div class="form-group">
          <%= f.label :tuesday_मंगळवार %>:
             <%= f.text_field :tuesday, placeholder:"9am To 9pm, Close , Half Day", tabindex:"3" %>
        </div>
         <div class="form-group">
         <%= f.label :wednesday_बुधवार %>:
           <%= f.text_field :wednesday, placeholder:"9am To 9pm, Close , Half Day", tabindex:"4" %>
        </div>

      </div>
     
      <div class="col-md-5">
        <div class="form-group">
        <%= f.label :thursday_गुरुवार %>:
           <%= f.text_field :thursday, placeholder:"9am To 9pm, Close , Half Day", tabindex:"5" %>
        </div>
         <div class="form-group">
         <%= f.label :friday_शुक्रवार %>:
           <%= f.text_field :friday, placeholder:"9am To 9pm, Close , Half Day", tabindex:"6" %>
        </div>
        <div class="form-group">
        <%= f.label :saturday_शनिवार %>:
           <%= f.text_field :saturday, placeholder:"9am To 9pm, Close , Half Day", tabindex:"7" %>
        </div>
         <div class="form-group ">
         <%= f.submit class:" btn btn-lg btn-primary", value:"submit", tabindex:"8"%>
         <%= link_to 'Back', shoptimings_path, class:" btn btn-lg button", tabindex:"9" %>
         
        </div>
      </div>
     
      <!-- <div class=" col-sm-offset-4 col-md-12">
       
      </div> -->
     
     <% end %>
    </div>
  </div>
</section>

