<!-- <p id="notice"><%= notice %></p>

<h1>Listing Shoptimings</h1>

<table>
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoptimings.each do |shoptiming| %>
      <tr>
        <td><%= shoptiming.sunday %></td>
        <td><%= shoptiming.monday %></td>
        <td><%= shoptiming.tuesday %></td>
        <td><%= shoptiming.wednesday %></td>
        <td><%= shoptiming.thursday %></td>
        <td><%= shoptiming.friday %></td>
        <td><%= shoptiming.saturday %></td>
        <td><%= link_to 'Show', shoptiming %></td>
        <td><%= link_to 'Edit', edit_shoptiming_path(shoptiming) %></td>
        <td><%= link_to 'Destroy', shoptiming, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoptiming', new_shoptiming_path %> -->
<!--  -->


<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Timing.</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Timing.</span></li>
      </ul>
    </div>
  </div>
</section>
      





<% @shoptimings.each do |shoptiming| %>
<section class="real-time-analytics sec-padding">
  <div class="auto-container">
    <div class="row">
     <div class="col-md-4">
        <div class="right-text">
         <h3>Sunday ( रविवार ):</h3>
          <p><%= shoptiming.sunday %></p>
         
          <h3>Monday ( सोमवार ):</h3>
          <p><%= shoptiming.monday %></p>
         
          
          <h3>Tuesday ( मंगळवार ) :</h3>
          <p><%= shoptiming.tuesday %></p>

          <h3>Wednesday ( बुधवार ) :</h3>
          <p><%= shoptiming.wednesday %></p>
         
          
        </div>
      </div><!-- /.col-md-5 -->
      <div class="col-md-4">
        <div class="right-text">
       
         
          <h3>Thursday ( गुरुवार ):</h3>
          <p><%= shoptiming.thursday %></p>

          <h3>Friday ( शुक्रवार ) :</h3> 
          <p><%= shoptiming.friday %></p>

          <h3>Saturday ( शनिवार ):</h3>
          <p><%= shoptiming.saturday %></p>

          

        </div>
      </div>

    </div><!-- /.row -->
  </div><!-- /.auto-container -->
      <div class="col-md-offset-3 col-md-6">
        <%= link_to 'Update Time', edit_shoptiming_path(shoptiming), class:" btn btn-lg btn-primary" %>
      </div>

</section>
<% end %>