<p id="notice"><%= notice %></p>

<p>
  <strong>Sunday:</strong>
  <%= @shoptiming.sunday %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @shoptiming.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @shoptiming.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @shoptiming.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @shoptiming.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @shoptiming.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @shoptiming.saturday %>
</p>

<%= link_to 'Edit', edit_shoptiming_path(@shoptiming) %> |
<%= link_to 'Back', shoptimings_path %>
