
<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Address</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Address</span></li>
      </ul>
    </div>
  </div>
</section>

<section class="get-a-qoute sec-padding">
  <div class="auto-container">
  <div class="row">

    <%= form_for(@shopaddress) do |f| %>
      <% if @shopaddress.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shopaddress.errors.count, "error") %> prohibited this shopaddress from being saved:</h2>

          <ul>
          <% @shopaddress.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-offset-1 col-md-5">
        <div class="form-group">
             <%= f.label :Shop_Name %>:
            <%= f.text_field :name, placeholder:" Shop Name", tabindex:"1" %>
        </div>
         <div class="form-group">
          <%= f.label :Shop_Email_Id %>:
            <%= f.text_field :emailid, placeholder:"Shop Email Id", tabindex:"2" %>
        </div>
          <div class="form-group">
           <%= f.label :Mobile_No %>:
            <%= f.text_field :mobileno, placeholder:"Shop Mobile No", tabindex:"3" %>
        </div>
          <div class="form-group">
           <%= f.label :Shop_landline_No %>:
            <%= f.text_field :landlineno, placeholder:"Shop landline No", tabindex:"4" %>
        </div>
         <div class="form-group">
          <%= f.label :Shop_Web_Site_Url %>:
             <%= f.text_field :websiteurl, placeholder:"Shop Web Site Url", tabindex:"5" %>
        </div>
        <div class="form-group">
         <%= f.label :Pin_Code %>:
            <%= f.text_field :pincode, placeholder:"Pin Code", tabindex:"6" %>
        </div>
        


        

      </div>
     
      <div class="col-md-5">
      <div class="form-group">
       <%= f.label :Street_Address %>:
            <%= f.text_area :streetaddress, placeholder:"Street Address", tabindex:"7" %>
        </div>
        <div class="form-group">
         <%= f.label :Landmark %>:
             <%= f.text_field :landmark, placeholder:" Landmark", tabindex:"8" %>
        </div>
        <div class="form-group">
         <%= f.label :City %>:
            <%= f.text_field :city, placeholder:"City", tabindex:"9" %>
        </div>
      <div class="form-group">
       <%= f.label :State %>:
           <%= f.text_field :state, placeholder:"State", tabindex:"10" %>
        </div>
       
       
        
        
       
        <div class="form-group clearfix">
         <%= f.submit class:"btn btn-success btn-lg", tabindex:"11"%>
         <%= link_to 'Back', shopaddresses_path, class:"btn  btn-lg", tabindex:"12" %>
         
        </div>
      </div>
     
      <!-- <div class=" col-sm-offset-4 col-md-12">
       
      </div> -->
     
     <% end %>
    </div>
  </div>
</section>

