<!-- <p id="notice"><%= notice %></p>

<h1>Listing Shopaddresses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Streetaddress</th>
      <th>Landmark</th>
      <th>City</th>
      <th>State</th>
      <th>Pincode</th>
      <th>Mobileno</th>
      <th>Landlineno</th>
      <th>Emailid</th>
      <th>Websiteurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopaddresses.each do |shopaddress| %>
      <tr>
        <td><%= shopaddress.name %></td>
        <td><%= shopaddress.streetaddress %></td>
        <td><%= shopaddress.landmark %></td>
        <td><%= shopaddress.city %></td>
        <td><%= shopaddress.state %></td>
        <td><%= shopaddress.pincode %></td>
        <td><%= shopaddress.mobileno %></td>
        <td><%= shopaddress.landlineno %></td>
        <td><%= shopaddress.emailid %></td>
        <td><%= shopaddress.websiteurl %></td>
        <td><%= link_to 'Show', shopaddress %></td>
        <td><%= link_to 'Edit', edit_shopaddress_path(shopaddress) %></td>
        <td><%= link_to 'Destroy', shopaddress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopaddress', new_shopaddress_path %><br>
<%= link_to 'home', root_path %> -->

<!--  -->



<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Address Info.</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Info.</span></li>
      </ul>
    </div>
  </div>
</section>
      





<% @shopaddresses.each do |shopaddress| %>
<section class="real-time-analytics sec-padding">
  <div class="auto-container">
    <div class="row">
    <div class="col-md-4">
        <div class="right-text">
         <h3>Name :</h3>
          <p><%= shopaddress.name %></p>

            <h3>Mobile No:</h3>
          <p><%= shopaddress.mobileno %></p>

           <h3>Landline No :</h3>
          <p><%= shopaddress.landlineno %></p>
         
          <h3>Email Id:</h3>
          <p><%= shopaddress.emailid %></p>

         
        
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-text">
          
            <h3>Shop Address :</h3>
          <p><%= shopaddress.streetaddress %></p>
         
          
          <h3>Shop Landmark:</h3>
          <p><%= shopaddress.landmark %></p>

           <h3>City :</h3>
          <p><%= shopaddress.city %></p>

         
         
         

          
        </div>
      </div><!-- /.col-md-5 -->
      <div class="col-md-4">
        <div class="right-text">
         
          <h3>State:</h3>
          <p><%= shopaddress.state %></p>

           <h3>Pincode :</h3>
          <p><%= shopaddress.pincode %></p>
          
        

          <h3>WebSite url:</h3>
          <p><%= shopaddress.websiteurl %></p>
          

        </div>
      </div>

    </div><!-- /.row -->
  </div><!-- /.auto-container -->
      <div class="col-md-offset-4 col-md-6">
        <%= link_to 'Update Address', edit_shopaddress_path(shopaddress), class:" btn btn-lg btn-primary" %>
      </div>

</section>
<% end %>