<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shopaddress.name %>
</p>

<p>
  <strong>Streetaddress:</strong>
  <%= @shopaddress.streetaddress %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @shopaddress.landmark %>
</p>

<p>
  <strong>City:</strong>
  <%= @shopaddress.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shopaddress.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @shopaddress.pincode %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @shopaddress.mobileno %>
</p>

<p>
  <strong>Landlineno:</strong>
  <%= @shopaddress.landlineno %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @shopaddress.emailid %>
</p>

<p>
  <strong>Websiteurl:</strong>
  <%= @shopaddress.websiteurl %>
</p>

<%= link_to 'Edit', edit_shopaddress_path(@shopaddress) %> |
<%= link_to 'Back', shopaddresses_path %>
