<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Contact Us</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Contact Us</span></li>
      </ul>
    </div>
  </div>
</section>

<div class="contact-page contact-form-wrapper sec-padding">
  <div class="auto-container">
    <div class="row">
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59601.02030907569!2d75.54031775797252!3d20.990080753240566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd90fa4a1eab90f%3A0x37f67bd21bff0a3c!2sJalgaon%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1493041248204" width="580" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>


      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="title">
          <h3>Get In Touch</h3>
        </div><!-- /.title -->
        <p>Consectetur adipiscing elit. Pellentesque lobortis, nisl at ullamcorper egestas, felis tortor adipiscing dolor, a interdum lorem urna quis magna. Integer eget arcu Integer eget arcu sit amet Integer commodo ipsum congue eu.</p>
        <form action="http://wp1.themexlab.com/html/digital-media/inc/sendemail.php" class="validate-cf contact-form">
          <input type="text" name="name"  placeholder="Name" />
          <input type="text" name="email"  placeholder="Email" />
          <textarea  name="message" placeholder="Message"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.auto-container -->
</div><!-- /.contact-page contact-form-wrapper -->

<section class="contact-info gray-bg">
  <div class="auto-container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-info">
          <i class="flaticon-placeholder"></i>
          <h3>Where We Are?</h3>
          <p>2901 Marmora road, Glassgow, Seattle, WA 98122</p>
        </div><!-- /.single-contact-info -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-info">
          <i class="flaticon-phone-call"></i>
          <h3>Give us a Call</h3>
          <p>Consectetuer ux adipis cing elit sed dolor sit amet.</p>
          <a href="#">+43 (0) 123 432 12 43</a>
        </div><!-- /.single-contact-info -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-info">
          <i class="flaticon-technology"></i>
          <h3>Vist Our Office</h3>
          <p>Consectetuer ux adipis cing elit sed dolor sit amet.</p>
        </div><!-- /.single-contact-info -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-info">
          <i class="flaticon-envelope-opened-outline"></i>
          <h3>Drop us a Line</h3>
          <p>2901 Marmora road, Glassgow, Seattle, WA 98122</p>
          <a href="#">Support@Digital.Com</a>
        </div><!-- /.single-contact-info -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.auto-container -->
</section><!-- /.contact-info -->



