<section class="why-choose-us-two sec-padding">
	<div class="auto-container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12  pull-left">
					<ul class="why-choose-us-two-list">
					<li >
					<a href="/shopabouts">
						<div class="icon-box" >
							<img src="../assets/shop.png" style="color"  alt="Shop Info"/>
						</div><!-- /.icon-box -->
						<div class="text-box">
							<h3>Shop Info.</h3>
							<p>Add Your food Shop/ Medical Store/ Grocery Store/ Cycle Sale & Repairing/ Bike Sale & Repairing/ Mobile Shop/ Mobile Repairing/ footwear Store/ Footwear Repairing Store. all Shop About Information Save Here. </p>
						</div><!-- /.text-box --></a>
					</li>
					<li>
					  <a href="/shoptimings">
						<div class="icon-box">
							<img src="../assets/time.png" alt="Shop time"/>
						</div><!-- /.icon-box -->
						<div class="text-box">
							<h3>Shop Time</h3>
							<p>Add Your Shop Timing To See The client Shop Is Open Or Close & What Is The Timing</p>
						</div><!-- /.text-box -->
						</a>
					</li>
					<li>
					<a href="/shopphotos">
						<div class="icon-box">
							<img src="../assets/shop_image.png"  alt="Store Image"/>
						</div><!-- /.icon-box -->
						<div class="text-box">
							<h3>Shop Images</h3>
							<p>Here Save The Store Images To See The Clint</p>
						</div><!-- /.text-box -->
						</a>
					</li>
				</ul><!-- /.why-choose-us-two -->
			</div><!-- /.col-md-5 -->
			<div class="col-md-6 col-sm-12 col-xs-12 pull-right">
				<!-- <div class="sec-title light">
					<h3>Why Choose Digital Media</h3>col-xs-12
					<p>Grow your business and save time with seamless experience</p>
				</div> -->
				<ul class="why-choose-us-two-list">
					<li>
					<a href="/shopaddresses">
						<div class="icon-box">
							<img src="../assets/address.png"  alt="Address Info"/>
						</div><!-- /.icon-box -->
						<div class="text-box">
							<h3>Add Shop Address</h3>
							<p>Add Your food Shop/ Medical Store/ Grocery Store/ Cycle Sale & Repairing/ Bike Sale & Repairing/ Mobile Shop/ Mobile Repairing/ footwear Store/ Footwear Repairing Store. all Shop Address Information Save Here.</p>
						</div><!-- /.text-box -->
						</a>	
					</li>
					<li>
					<a href="/shoplocations">
						<div class="icon-box">
							<img src="../assets/map.png" alt="Map Location"/>
						</div><!-- /.icon-box -->
						<div class="text-box">
							<h3>Shop Map Location</h3>
							<p>Add your Shop Map Location. To find you Someone Quickly.</p><br>
						</div><!-- /.text-box -->
						</a>
					</li>
					<li>
					<a href="/shopaddresses">
						<div class="icon-box">
							<img src="../assets/comments.png"  alt="comments"/>
						</div><!-- /.icon-box -->
						<div class="text-box">
							<h3>Comments and Rating</h3>
							<p>client Giving To You Comments and Rating Your Store.</p>
						</div><!-- /.text-box -->
						</a>
					</li>
				</ul><!-- /.why-choose-us-two -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.auto-container -->
</section><!-- /.why-choose-us -->