





<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade shop-slider" data-ride="carousel">           
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1" style="background-image: url(../assets/worldmap.jpg);backgroudn-position: center right;">
            
            <div class="carousel-caption">
	      		<div class="thm-container">
	      			<div class="box valign-middle">
	      				<div class="content">
		      				 <div class="col-xs-8 col-xs-offset-2">
							    <div class="input-group">
					                <div class="input-group-btn search-panel">
					                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" style="height: 55px;">
					                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
					                    </button>
					                    <ul class="dropdown-menu" role="menu">
					                      <li><a href="#">Grocery Store</a></li>
					                      <li><a href="#">Medical Store</a></li>
					                      <li><a href="#">Cycle & Bike Repairing</a></li>
					                      <li><a href="#">Mobile Shop & Repairing </a></li>
					                      <li><a href="#">footwear Repairing</a></li>
					                    </ul>
					                </div>
					                <input type="hidden" name="search_param" value="all" id="search_param">         
					                <input type="text" class="form-control" name="x" placeholder="Search your Destination..." style="height: 55px;">
					                <span class="input-group-btn">
					                    <button class="btn btn-success" type="button" style="height: 55px;width: 124px;"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
					                </span>
					            </div>
                             </div>
                              <div class="col-xs-8 col-xs-offset-2">
		      				<div class="digital-banner-p" data-animation="animated fadeInDown">
		      				We use enterprise strategies to boost your local and worldwide<br>search rankings so your customers can find you when & where<br>they need</div></div>
		      			<!-- 	<a href="services.html" class="btn btn-default banner-btn" data-animation="animated zoomIn">Learn More</a>
 -->	      				</div>
	      			</div>
	      		</div>
	    	</div>                
        </div>
       
       
    </div>
   
   <!--  <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a> -->
</div>


<section class="promo-area sec-padding">
    <div class="auto-container">
        <div class="title">
            <h3>YOUR HOME THE WAY YOU'VE ALWAYS WANTED IT.</h3>
            <center> <h4 style="color: #3c763d;">When you live here, you get more than a home. You get an entire neighborhood where you can live, work, shop, dine and play.</h4></center>
            <br><br>
            <center> <h4 style="color: #3c763d;">Our homes include an abundance of neighborhood retail, restaurants, office space and more. With so much convenience right at your doorstep, there's hardly a need to venture further, but the direct access to the Metro, I-495 and I-395 make downtown DC, Old Town Alexandria and more easily accessible.</h4></center>
        </div>
       
    </div>
</section>







<p id="notice"><%= notice %></p>

<h1>Listing Shopabouts</h1>

<table>
  <thead>
    <tr>
      <th>Shopname</th>
      <th>Aboutinfo</th>
      <th>Shopmobno</th>
      <th>Shopownername</th>
      <th>Unicproductsforsale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopabouts.each do |shopabout| %>
      <tr>
        <td><%= shopabout.id %></td>
        <td><%= shopabout.shopname %></td>
        <td><%= shopabout.aboutinfo %></td>
        <td><%= shopabout.shopmobno %></td>
        <td><%= shopabout.shopownername %></td>
        <td><%= shopabout.unicproductsforsale %></td>
        <td><%= link_to 'Show', shopabout %></td>
        <td><%= link_to 'Edit', edit_shopabout_path(shopabout) %></td>
        <td><%= link_to 'Destroy', shopabout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



 @user

<table>
  <thead>
    <tr>
      <th>Userid</th>
      
    </tr>
  </thead>

  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.id %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>