<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Details</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Details</span></li>
      </ul>
    </div>
  </div>
</section>


<section class="get-a-qoute sec-padding">
  <div class="auto-container">
  <div class="row">
     <%= form_for @shopabout,  html: { multipart: true } do |f| %>
   
      <% if @shopabout.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shopabout.errors.count, "error") %> prohibited this shopabout from being saved:</h2>

          <ul>
          <% @shopabout.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-offset-1 col-md-5">

        <div class="form-group">
        <% @shopabouts.each do |shopabout| %>
          <%= image_tag shopabout.ownerimg.url(:thumb) %>
        <% end %>  
          <%= f.file_field :ownerimg, tabindex:"1"  %>
        </div>
       
        <div class="form-group">
        <%= f.label :Shop_Info %>:
            <%= f.text_area :aboutinfo, placeholder:" About Info", tabindex:"2" %>
        </div>
          <div class="form-group">
           <%= f.label :Add_Unic_Product_Info %>:
           <%= f.text_field :unicproductsforsale, placeholder:"Add Unic Product Info", tabindex:"3" %>
        </div>
       
      </div>
     
      <div class="col-md-5">
         <div class="form-group">
         <%= f.label :Shop_Name %>:
            <%= f.text_field :shopname, placeholder:" Shop Name", tabindex:"4" %>
        </div>
        <div class="form-group">
         <%= f.label :Shop_Owner_name %>:
           <%= f.text_field :shopownername, placeholder:"Shop Owner Name", tabindex:"5" %>
        </div>
         <div class="form-group">
          <%= f.label :Shop_Mobile_No %>:
            <%= f.text_field :shopmobno, placeholder:" Shop Mobile No", tabindex:"6" %>
        </div>
      
         <div class="form-group clearfix">
         <%= f.submit class:" btn btn-lg btn-primary", tabindex:"7"%>
         <%= link_to 'Back', shopabouts_path, class:" btn btn-lg button", tabindex:"8" %>
         
        </div>
      </div>
     
      <!-- <div class=" col-sm-offset-4 col-md-12">
       
      </div> -->
     
     <% end %>
    </div>
  </div>
</section>

