<!-- <p id="notice"><%= notice %></p>

<h1>Listing Shopabouts</h1>

<table>
  <thead>
    <tr>
      <th>Shopname</th>
      <th>Aboutinfo</th>
      <th>Shopmobno</th>
      <th>Shopownername</th>
      <th>Unicproductsforsale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopabouts.each do |shopabout| %>
      <tr>
        <td><%= shopabout.shopname %></td>
        <td><%= shopabout.aboutinfo %></td>
        <td><%= shopabout.shopmobno %></td>
        <td><%= shopabout.shopownername %></td>
        <td><%= shopabout.unicproductsforsale %></td>
        <td><%= link_to 'Show', shopabout %></td>
        <td><%= link_to 'Edit', edit_shopabout_path(shopabout) %></td>
        <td><%= link_to 'Destroy', shopabout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopabout', new_shopabout_path %><br>
<%= link_to 'home', root_path %> -->
<!--  -->



<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Info.</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Info.</span></li>
      </ul>
    </div>
  </div>
</section>
      





 <% @shopabouts.each do |shopabout| %>
<section class="real-time-analytics sec-padding">
  <div class="auto-container">
    <div class="row">
    <div class="col-md-3">
        <div class="sec-title">
          <div class="img-box">
           <%= image_tag shopabout.ownerimg.url(:medium) %>
            <p>Owner Photo</p>      
          </div>          
      
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-text">
         <h3>Shop Name :</h3>
          <p><%= shopabout.shopname %></p>
         
          <h3>Shop Owner Name:</h3>
          <p><%= shopabout.shopownername %></p>
         
          
          <h3>Shop Mobile No:</h3>
          <p><%= shopabout.shopmobno %></p>

         
          
        </div>
      </div><!-- /.col-md-5 -->
      <div class="col-md-4">
        <div class="right-text">
          <h3>About Shop :</h3>
          <p><%= shopabout.aboutinfo %></p>
         
          <h3>Unic Products For Sale:</h3>
          <p><%= shopabout.unicproductsforsale %></p>

          

        </div>
      </div>

    </div><!-- /.row -->
  </div><!-- /.auto-container -->
  <br>
      <div class="col-md-offset-4 col-md-6">
        <%= link_to 'Update Shop Info.', edit_shopabout_path(shopabout), class:" btn btn-lg btn-primary" %>
      </div>

</section>
<% end %>