<p id="notice"><%= notice %></p>

<p>
  <strong>Shopname:</strong>
  <%= @shopabout.shopname %>
</p>

<p>
  <strong>Aboutinfo:</strong>
  <%= @shopabout.aboutinfo %>
</p>

<p>
  <strong>Shopmobno:</strong>
  <%= @shopabout.shopmobno %>
</p>

<p>
  <strong>Shopownername:</strong>
  <%= @shopabout.shopownername %>
</p>

<p>
  <strong>Unicproductsforsale:</strong>
  <%= @shopabout.unicproductsforsale %>
</p>

<%= link_to 'Edit', edit_shopabout_path(@shopabout) %> |
<%= link_to 'Back', shopabouts_path %>
