<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Please Sign In</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><span>Sign In</span></li>
      </ul>
    </div>
  </div>
</section>

<div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form role="form">
      <fieldset>
<!--         <h2>Please Sign In</h2> -->
        <hr class="colorgraph">
        <div class="form-group">
                   <!--  <input type="email" name="email" id="email" class="form-control" placeholder="Email Address"> -->
              <%= f.email_field :email, autofocus: true, class:"form-control input-lg", placeholder:"Email Address", tabindex:"1"  %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class:"form-control input-lg", placeholder:"Password", tabindex:"2" %>

            <!--  <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"> -->
        </div>
        <span class="button-checkbox">
         <!--  <button type="button" class="btn" data-color="info">Remember Me</button> -->
                 <%= f.check_box :remember_me, tabindex:"3", name:"remember_me" %> Remember me
                    <!-- <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden"> -->
          <!-- <a href="" class="btn btn-link pull-right">Forgot Password?</a> -->
           <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class:"btn btn-link pull-right" %>
            <% end -%>
        </span>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <%= f.submit "Log in", tabindex:"5", class:"btn btn-lg btn-success btn-block" %>     
                  <!-- <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In"> -->
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <!-- <a href="" class="btn btn-lg btn-primary btn-block">Register</a> -->
             <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <a> <%= link_to "Register New User", new_registration_path(resource_name) ,class:"btn btn-lg btn-primary btn-block" %></a>
              <% end -%>
          </div>
        </div>
      </fieldset>
    </form>
    <% end %>
  </div>
</div>

</div>
<br>