	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/07/2016 00:44
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-envelope-opened-outline:before { content: "\f100"; }
.flaticon-phone-call:before { content: "\f101"; }
.flaticon-placeholder:before { content: "\f102"; }
.flaticon-share:before { content: "\f103"; }
.flaticon-technology:before { content: "\f104"; }