@font-face {
    font-family: 'icomoon';
    src:    url('../assets/icomoon03e8.eot?zfc83g');
    src:    url('../assets/icomoon03e8.eot?zfc83g#iefix') format('embedded-opentype'),
        url('../assets/icomoon03e8.ttf?zfc83g') format('truetype'),
        url('../assets/icomoon03e8.woff?zfc83g') format('woff'),
        url('../assets/icomoon03e8.svg?zfc83g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-analyze:before {
    content: "\e901";
}
.icon-chart .path1:before {
    content: "\e902";    
}
.icon-chart .path2:before {
    content: "\e903";
    margin-left: -1em;
    
}
.icon-chart .path3:before {
    content: "\e904";
    margin-left: -1em;
    
}
.icon-rocket .path1:before {
    content: "\e905";
    
}
.icon-rocket .path2:before {
    content: "\e906";
    margin-left: -0.990234375em;
    
}
.icon-rocket .path3:before {
    content: "\e907";
    margin-left: -0.990234375em;
    
}
.icon-rocket .path4:before {
    content: "\e90b";
    margin-left: -0.990234375em;
    
}
.icon-rocket .path5:before {
    content: "\e90c";
    margin-left: -0.990234375em;
    
}
.icon-rocket .path6:before {
    content: "\e90d";
    margin-left: -0.990234375em;
    
}
.icon-rocket .path7:before {
    content: "\e90e";
    margin-left: -0.990234375em;
    
}
.icon-search .path1:before {
    content: "\e90f";
    
}
.icon-search .path2:before {
    content: "\e910";
    margin-left: -0.970703125em;
    
}
.icon-search .path3:before {
    content: "\e911";
    margin-left: -0.970703125em;
    
}
.icon-search .path4:before {
    content: "\e912";
    margin-left: -0.970703125em;
    
}
.icon-search .path5:before {
    content: "\e913";
    margin-left: -0.970703125em;
    
}
.icon-search .path6:before {
    content: "\e914";
    margin-left: -0.970703125em;
    
}
.icon-search .path7:before {
    content: "\e915";
    margin-left: -0.970703125em;
    
}
.icon-shopping-bag:before {
    content: "\e916";
}
.icon-shape:before {
    content: "\e917";
}
.icon-cog-paper:before {
    content: "\e908";
}
.icon-drag-drop:before {
    content: "\e909";
}
.icon-globe:before {
    content: "\e90a";
}
.icon-man:before {
    content: "\e900";
}

