<!-- 
<%= form_for @shopphoto,  html: { multipart: true } do |f| %>
  <% if @shopphoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopphoto.errors.count, "error") %> prohibited this shopphoto from being saved:</h2>

      <ul>
      <% @shopphoto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :img_name %><br>
    <%= f.text_field :img_name %>
  </div>
  <div class="field">
    <%= f.label :shopphoto %><br>
   <%= f.file_field :shopphoto %>
  </div>

  <div class="field">
    <%= f.label :shopphoto1 %><br>
   <%= f.file_field :shopphoto1 %>
  </div>
  <div class="field">
    <%= f.label :shopphoto2 %><br>
   <%= f.file_field :shopphoto2 %>
  </div>
  <div class="field">
    <%= f.label :shopphoto3 %><br>
   <%= f.file_field :shopphoto3 %>
  </div>
  <div class="field">
    <%= f.label :unicproimg1 %><br>
   <%= f.file_field :unicproimg1 %>
  </div>
  <div class="field">
    <%= f.label :unicproimg2 %><br>
   <%= f.file_field :unicproimg2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 -->


<section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Update Shop Photo </h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Update Shop Photo </span></li>
      </ul>
    </div>
  </div>
</section>


<section class="get-a-qoute sec-padding">
  <div class="auto-container">
  <div class="row">
   <%= form_for @shopphoto,  html: { multipart: true } do |f| %>
  <% if @shopphoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopphoto.errors.count, "error") %> prohibited this shopphoto from being saved:</h2>

      <ul>
      <% @shopphoto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% @shopphotos.each do |shopphoto| %>
      <div class="col-sm-offset-1 col-md-5">
        <div class="form-group">
          
            <%= image_tag shopphoto.shopphoto.url(:thumb) %>
             <%= f.file_field :shopphoto %>
        </div>
        <div class="form-group">
        <%= image_tag shopphoto.shopphoto1.url(:thumb) %>
            <%= f.file_field :shopphoto1 %>
        </div>
        <div class="form-group">
        <%= image_tag shopphoto.shopphoto2.url(:thumb) %>
             <%= f.file_field :shopphoto2 %>
        </div>
      </div>
     
      <div class="col-md-5">
        <div class="form-group">
        <%= image_tag shopphoto.shopphoto3.url(:thumb) %>
            <%= f.file_field :shopphoto3 %>
        </div>
        <div class="form-group">
        <%= image_tag shopphoto.unicproimg1.url(:thumb) %>
           <%= f.file_field :unicproimg1 %>
        </div>
        <div class="form-group">
        <%= image_tag shopphoto.unicproimg2.url(:thumb) %>
        <%= f.file_field :unicproimg2 %>
        </div>
         <div class="form-group clearfix">
         <%= f.submit class:" btn btn-lg btn-primary", tabindex:"6"%>
         <%= link_to 'Back', shopphotos_path, class:" btn btn-lg button", tabindex:"7" %>
         
        </div>
      </div>
     <% end %>
      <!-- <div class=" col-sm-offset-4 col-md-12">
       
      </div> -->
     
     <% end %>
    </div>
  </div>
</section>





