<!-- <p id="notice"><%= notice %></p>

<h1>Listing Shopphotos</h1>

<table>
  <thead>
    <tr>
      <th>Img name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopphotos.each do |shopphoto| %>
      <tr>
        <td><%= shopphoto.img_name %></td>
        <td><%= image_tag shopphoto.shopphoto.url(:thumb) %></td>
        <td><%= image_tag shopphoto.shopphoto1.url(:thumb) %></td>
        <td><%= image_tag shopphoto.shopphoto2.url(:thumb) %></td>
        <td><%= image_tag shopphoto.shopphoto3.url(:thumb) %></td>
        <td><%= image_tag shopphoto.unicproimg1.url(:thumb) %></td>
        <td><%= image_tag shopphoto.unicproimg2.url(:thumb) %></td>
       <td><%= link_to 'Show', shopphoto %></td> 
        <td><%= link_to 'Edit', edit_shopphoto_path(shopphoto) %></td>
        <td><%= link_to 'Destroy', shopphoto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopphoto', new_shopphoto_path %>
 -->


 <section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Shop Photo.</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Shop Photo.</span></li>
      </ul>
    </div>
  </div>
</section>

 <% @shopphotos.each do |shopphoto| %>
<section class="case-study-3-col sec-padding">
  <div class="auto-container">
  
    <div class="row filter-layout masonary-layout">
      <div class="col-md-4 col-sm-4 col-xs-12 filter-item ecommerce featured">
        <div class="single-case-study">
          <div class="img-box">
           <%= image_tag shopphoto.shopphoto.url(:large) %>
            <div class="overlay">
              <div class="box">
                <div class="content">
                  <!-- <a href="case-study-details.html"><i class="fa fa-expand"></i></a> -->
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /.single-case-study -->
      </div><!-- /.col-md-6 filter-item -->
      <div class="col-md-4 col-sm-4 col-xs-12 filter-item seo technology">
        <div class="single-case-study">
          <div class="img-box">
            <%= image_tag shopphoto.shopphoto1.url(:large) %>
            <div class="overlay">
              <div class="box">
                <div class="content">
                 <!--  <a href="case-study-details.html"><i class="fa fa-expand"></i></a> -->
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /.single-case-study -->
      </div><!-- /.col-md-6 filter-item -->
      <div class="col-md-4 col-sm-4 col-xs-12 filter-item ecommerce featured">
        <div class="single-case-study">
          <div class="img-box">
            <%= image_tag shopphoto.shopphoto2.url(:large) %>
            <div class="overlay">
              <div class="box">
                <div class="content">
                  <!-- <a href="case-study-details.html"><i class="fa fa-expand"></i></a> -->
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /.single-case-study -->
      </div><!-- /.col-md-6 filter-item -->

         <div class="col-md-4 col-sm-4 col-xs-12 filter-item ecommerce featured">
        <div class="single-case-study">
          <div class="img-box">
            <%= image_tag shopphoto.shopphoto3.url(:large) %>
            <div class="overlay">
              <div class="box">
                <div class="content">
                  <!-- <a href="case-study-details.html"><i class="fa fa-expand"></i></a> -->
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /.single-case-study -->
      </div><!-- /.col-md-6 filter-item -->
         <div class="col-md-4 col-sm-4 col-xs-12 filter-item ecommerce featured">
        <div class="single-case-study">
          <div class="img-box">
            <%= image_tag shopphoto.unicproimg1.url(:large) %>
            <div class="overlay">
              <div class="box">
                <div class="content">
                  <!-- <a href="case-study-details.html"><i class="fa fa-expand"></i></a> -->
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /.single-case-study -->
      </div><!-- /.col-md-6 filter-item -->
         <div class="col-md-4 col-sm-4 col-xs-12 filter-item ecommerce featured">
        <div class="single-case-study">
          <div class="img-box">
            <%= image_tag shopphoto.unicproimg2.url(:large) %>
            <div class="overlay">
              <div class="box">
                <div class="content">
                  <!-- <a href="case-study-details.html"><i class="fa fa-expand"></i></a> -->
                </div>
              </div>
            </div>
          </div>          
        </div><!-- /.single-case-study -->
      </div><!-- /.col-md-6 filter-item -->
   
     
    </div><!-- /.row filter-layout -->

  </div><!-- /.auto-container -->



   <div class="col-md-offset-4 col-md-6">
        <%= link_to 'Update Shop Photo', edit_shopphoto_path(shopphoto), class:" btn btn-lg btn-primary" %>
      </div>
</section>

  <% end %>