<!-- 

<%= form_for(@shoplocation) do |f| %>
  <% if @shoplocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoplocation.errors.count, "error") %> prohibited this shoplocation from being saved:</h2>

      <ul>
      <% @shoplocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 -->
<style>
      #map {
        height: 400px;
        width: 100%;
       }

    </style>

 <section class="inner-banner light-black-bg">
  <div class="auto-container clearfix">
    <div class="title pull-left">
      <h3>Update Shop Locations.</h3>
    </div>
    <div class="breadcumb pull-right">
      <ul class="list-inline">
        <li><a href="/">Dashboard</a></li>
        <li><span>Update Shop Locations.</span></li>
      </ul>
    </div>
  </div>
</section>

<section class="real-time-analytics sec-padding">
  <div class="auto-container">
    <div class="row">

      <div class="col-md-12">
          <div id="map"></div>

      </div>
      
    </div>
  </div>
</section>


    <script>
                      var marker={};
                      var map;
                      function initMap() {
                       var wakad = { lat: 18.59860, lng: 73.76387 };

                        map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 14,
                          center: wakad
                        });
                       /*marker = new google.maps.Marker({
                          position: wakad,
                          map: map
                        }); */
                        // This event listener calls addMarker() when the map is clicked.
                            google.maps.event.addListener(map, 'click', function(event) {
                                //marker={};
                              addMarker(event.latLng);
                            });                                              

                      }
                        

                       // Adds a marker to the map.
                        function addMarker(location) {
                          // Add the marker at the clicked location, and add the next-available label
                          // from the array of alphabetical characters.

                        google.maps.event.addListener(marker, 'click', function(event) {
                            this.setMap(null);
                            });
                          marker = new google.maps.Marker({
                            position: location,
                            
                            map: map
                          });
                          var location = JSON.stringify(marker.position);

                         
                        }

                    </script>
<%= link_to "Go!", shoplocations_path(), :with => "'location='+ location"  %>
   <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP8_quTmFw-Wl5rSAEUeoKPeOu0LIxd08&callback=initMap">
    </script>      