<p id="notice"><%= notice %></p>

<h1>Listing Shoplocations</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoplocations.each do |shoplocation| %>
      <tr>
        <td><%= shoplocation.location %></td>
        <td><%= link_to 'Show', shoplocation %></td>
        <td><%= link_to 'Edit', edit_shoplocation_path(shoplocation) %></td>
        <td><%= link_to 'Destroy', shoplocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoplocation', new_shoplocation_path %> 

 