<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @shoplocation.location %>
</p>

<%= link_to 'Edit', edit_shoplocation_path(@shoplocation) %> |
<%= link_to 'Back', shoplocations_path %>
