<!DOCTYPE html>
<html>
<head>
  <title>Findwaytorun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="top-bar">
  <div class="auto-container clearfix">
    <div class="left-info pull-left">
      <p>Help Line No. +91 9881380845</p>
    </div>
    <div class="right-info pull-right">
       <% if user_signed_in? %>
         <ul>
           <li>
             <a style="color: #fc5857">Welcome- <%= current_user.email %></a>&nbsp;
                <i class="icon-man"></i>
                <a><%= link_to 'Account', edit_user_registration_path, :class => 'btnsl ' %></a> 
                <a><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btnsl '  %></a>
             </li>
           <li>
         </ul>
        <% else %>
         <ul>
            <li>
              <i class="icon-man"></i>
                 <a><%= link_to "Register New User ", new_user_registration_path, :class => 'btnsl ' %></a> 
                 <a><%= link_to "Log in", new_user_session_path, :class => 'btnsl '  %></a>
            <li>
         </ul>
        <% end %>
    
    </div>
  </div>
</section>


<header class="header stricky">
  <div class="auto-container clearfix">
    <div id="menuzord" class="menuzord">
      <a href="/" class="menuzord-brand"><img src="/assets/logo.png" alt="Awesome Image"/></a>

      <ul class="menuzord-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about_us">About</a></li>
        <li><a href="/contact_us">Contact</a></li>
        <li class="search-button">
          <a href="#">
            <span class="icon-search">
                      <span class="path1"></span>
                    </span>       
          </a>
          <div class="megamenu megamenu-quarter-width">
            <div class="megamenu-row">
               <div class="search-box">
                  <form action="#" class="clearfix">
                    <input type="text" class="pull-left" placeholder="Type Something"/>
                    <button class="pull-right" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div><!-- /.seach-box -->
            </div>      
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>




          <!-- 
			       <p class="notice"><%= notice %></p>
			       <p class="alert"><%= alert %></p> -->

<%= yield %>

 
    <!--Start footer-top-area-->
    <section class="footer-top-area">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!--Start footer-logo  item-->
                     <div class="contact-us">
                       <h2>Address On Map</h2>                  
                        <div class="social-icon">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59601.02030907569!2d75.54031775797252!3d20.990080753240566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd90fa4a1eab90f%3A0x37f67bd21bff0a3c!2sJalgaon%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1493041248204" width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        </div>
              
                    <!--End footer-logo  item-->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!--Start contact-us  item-->
                    <div class="contact-us">
                        <h2>Contact Us</h2>
                        <h4>Address</h4>
                        <p>6th Floor Tuljabhawani Plaza,<br> Thergaon Pune, Maharashtra<br> 411033 India.</p>
                        <h4>Email Us</h4>
                        <p>support@propadmin.in</p>
                        <h4>Call Us</h4>
                        <p>020-65111900</p>
                    </div>
                    <!--End contact-us  item-->
                </div>
            
                <div class="col-md-3 col-sm-6 col-xs-12">   
                    <!--Start subscribe-us  item-->
                    <div class="subscribe-us">
                      <h2>Send Massage</h2>
                        <div class="email-addres">
                            <input type="test" placeholder="First Name">
                            <input type="test" placeholder="Last Name">
                            <input type="email" placeholder="Email Address">
                            <input type="test" placeholder="Phone">
                            <input type="text" placeholder="Enter your massage.">
                            <button type="submit" class="message"><i class="fa fa-envelope-o " aria-hidden="true"></i></button>
                           <!--  <p>Your Email id is confidential!</p> -->
                        </div>
                    </div>
                    <!--End subscribe-us  item-->
                </div>
            </div>
        </div>
    </section>
    <!--End footer-top-area-->

    <!--Start footer-bottom-area-->
    <section class="footer-bottom-area">
        <div class="auto-container">
            <div class="clearfix">  
                <div class="pull-left footer-right">
                    <div class="coppy-right"><p>&copy; 2017 All Rights Reserved : <a target="_blank" href="#"> hemantpatil</a></p></div>
                </div>
                <div class="pull-right footer-right">
                    <div class="footer-menu">
                        <ul class="">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about_us">About Us</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>
                            <li><a href="/privacy_policy">privacy policy</a></li>
                            <li><a href="/termandcondition">Terms&condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

  



</body>
</html>
